.appPageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  min-height: 1024px;
  background-color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 768px) {
  .appPageContainer {
    max-width: 375px;
    min-height: 812px;
    padding-left: 21px;
    padding-right: 19px;
  }
}
