/* @media screen and (max-width: 1440px) { */

.appPageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  min-height: 1024px;
  background-color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
}
/* } */
/* 
@media screen and (max-width: 768px) {
  .appPageFormat {
    position: relative;
    max-width: 375px;
    max-height: 100%;
    background-color: #ffffff;
  }
} */
