.box .buttonTitle {
  background-color: #ff6060;
  text-align: left;
  border-radius: 5px;
  padding-left: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 20px;
  height: 47px;
  cursor: pointer;
  border-color: transparent;
  width: 100%;
}

.box .buttonChildren {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding-left: 10px;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin-bottom: 15px;
  /* margin-block-start: 0px; */
  /* margin-block-end: 0px; */
}

.box .boxParent {
  height: 0px;
  overflow: hidden;
  transition: height ease-out 0.3s;
}

/* .chevronStyle {
  color: #ffffff;
  transform: rotate(90deg);
} */
