.box {
  width: 100%;
}

.box .buttonTitle {
  display: flex;
  background-color: #ff6060;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 20px;
  height: 47px;
  cursor: pointer;
  border-color: transparent;
  width: 100%;
}

.box .buttonChildren {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding-left: 10px;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin-bottom: 15px;
}

.box .boxParent {
  height: 0px;
  overflow: hidden;
  transition: height ease-out 0.3s;
}

.chevronStyle {
  height: 20px;
  align-items: center;
}

.collapsibleOpen {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .box .buttonTitle {
    border-radius: 5px;
    padding-left: 10px;
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
    height: 30px;
    cursor: pointer;
    border-color: transparent;
    width: 100%;
    padding-top: 5px;
  }

  .box .buttonChildren {
    font-size: 12px;
  }
  .chevronStyle {
    height: 14px;
  }
}
