.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  border-radius: 25px;
  background: #000000 url("../assets/imgHomeBanner.png");
  background-size: cover;
}

.homeBanner {
  height: 223px;
}

.textBanner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
