.starsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.starStyle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .starsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .starStyle {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-items: center;
  }
}
